// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login {
  height: calc(100vh);
  background-color: #e6e6e6;
}
.login-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-pc-img {
  position: absolute;
  width: 500px;
  left: 80px;
  bottom: 0;
  top: 150px;
  margin: auto;
}
.login-contents {
  width: 485px;
  margin: auto;
}
.login-title-box {
  text-align: center;
  margin-bottom: 40px;
}
.login-title {
  color: #606060;
  font-size: 14px;
  margin-bottom: 15px;
}
.login-logo {
  width: 30%;
  margin: auto;
}
.login-form-box {
  height: 375px;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 70px;
  border-radius: 5px;
  position: relative;
}
.login-item {
  width: 100%;
  margin: auto;
}
.login-label {
  color: #606060;
  font-weight: 600;
}
.login-input input {
  width: 100%;
  border: 1px solid #e6e6e6;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}
.login-button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00add5;
  color: #FCFCFC;
  font-weight: 600;
  border-radius: 5px;
}
.login-forgot {
  text-align: center;
  color: #999;
  margin: 0 0 20px 0;
}
.login-signup-btn {
  cursor: pointer;
  width: 80%;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fac819;
  color: #000;
  font-weight: 600;
  border-radius: 100px;
}
